In [71]:
#首先测试集和数据集读取进来
#先导包
import pandas as pd 
import numpy as np

# pd.set_option('display.max_rows', 10000)#行数设置为10000
pd.set_option('display.max_columns', 10000)#列数设置为10000
pd.set_option('display.width', 10000)

In [72]:
#读取数据集
df_train=pd.read_csv('train.csv')
df_train

         order_detail_id  order_id  order_total_num  order_amount  order_total_payment  order_total_discount       order_pay_time  order_status  order_count  is_customer_rate  order_detail_status  order_detail_goods_num  order_detail_amount  order_detail_payment  order_detail_discount customer_province customer_city  member_id  customer_id  customer_gender  member_status  is_member_actived  goods_id  goods_class_id  goods_price  goods_status  goods_has_discount      goods_list_time    goods_delist_time
0                1000000   1000000              1.0         239.9                 96.9                   0.0  2012-11-01 00:10:56             6          1.0               0.0                  6.0                     1.0                 96.9                  96.9                  143.0                北京           北京市        0.0      1000000              NaN            NaN                NaN       998             998    54.909289           1.0                 0.0  2014-10-25 11:08:07  2014-11-01 11:08:07
1                1001530   1001327              2.0         288.0                 96.9                   0.0  2013-08-31 23:14:42             6          2.0               0.0                  6.0                     1.0                  0.0                   0.0                   99.0            内蒙古自治区         鄂尔多斯市        0.0      1001324              NaN            NaN                NaN      1953            1953    45.961352           0.0                 1.0  2013-08-28 17:27:50  2013-09-01 00:38:17
2                1001531   1001327              2.0         288.0                 96.9                   0.0  2013-08-31 23:14:42             6          2.0               0.0                  6.0                     1.0                 96.9                  96.9                   92.1            内蒙古自治区         鄂尔多斯市        0.0      1001324              NaN            NaN                NaN      1083            1083    53.035439           1.0                 0.0  2014-10-29 18:21:05  2014-11-05 18:21:05
3                1001532   1001328              3.0         180.0                 89.7                   0.0  2013-08-31 22:06:35             6          1.0               0.0                  6.0                     3.0                 89.7                  89.7                   90.3               浙江省           杭州市        0.0      1001325              NaN            NaN                NaN      1013            1013    46.046917           1.0                 1.0  2014-10-25 11:00:00  2014-11-01 11:00:00
4                1001533   1001329              1.0         159.9                 65.9                   0.0  2013-08-31 21:33:36             6          1.0               0.0                  6.0                     1.0                 65.9                  65.9                   94.0                北京           北京市        0.0      1001326              NaN            NaN                NaN      1628            1628    50.722161           1.0                 0.0  2014-10-23 15:35:33  2014-10-30 15:35:33
...                  ...       ...              ...           ...                  ...                   ...                  ...           ...          ...               ...                  ...                     ...                  ...                   ...                    ...               ...           ...        ...          ...              ...            ...                ...       ...             ...          ...           ...                 ...                  ...                  ...
2306866          3685495   3238358              1.0         199.0                 59.9                   0.0  2013-01-10 19:24:31             6          1.0               0.0                  6.0                     1.0                 59.9                  59.9                  139.1               山西省           晋中市  4158187.0      2826573              0.0            1.0                1.0      1173            1173    53.012016           1.0                 0.0  2014-10-25 10:14:59  2014-11-01 10:14:59
2306867          3685496   3238359              2.0         299.8                 89.9                   0.0  2013-01-27 15:00:27             6          2.0               0.0                  6.0                     1.0                  0.0                   0.0                   59.9           宁夏回族自治区           银川市  4160956.0      2826574              0.0            1.0                1.0      2513            2513    42.693822           2.0                 0.0  2014-01-10 15:56:40  2014-01-11 12:46:19
2306868          3685497   3238359              2.0         299.8                 89.9                   0.0  2013-01-27 15:00:27             6          2.0               0.0                  6.0                     1.0                 89.9                  89.9                  150.0           宁夏回族自治区           银川市  4160956.0      2826574              0.0            1.0                1.0       998             998    54.889036           1.0                 0.0  2014-10-25 11:08:07  2014-11-01 11:08:07
2306869          3685498   3238360              1.0         168.0                 76.9                   0.0  2012-11-11 00:10:37             6          1.0               0.0                  6.0                     1.0                 76.9                  76.9                   91.1           宁夏回族自治区           银川市  4160956.0      2826574              0.0            1.0                1.0      1423            1423    52.078004           1.0                 0.0  2014-10-30 09:31:53  2014-11-06 09:31:53
2306870          3685499   3238361              1.0         102.0                 49.9                   0.0  2013-07-10 14:22:14             6          1.0               0.0                  6.0                     1.0                 49.9                  49.9                   52.1           宁夏回族自治区           银川市  4160956.0      2826574              0.0            1.0                1.0      1043            1043    46.114765           1.0                 1.0  2014-10-28 00:03:12  2014-11-04 00:03:12

[2306871 rows x 29 columns]

In [73]:
df_train['customer_gender'].value_counts()

0.0    603970
2.0     18468
1.0     13352
Name: customer_gender, dtype: int64

In [74]:
df_train['order_status'].value_counts()

6      2089352
101      98145
3        79823
1        34618
4         4932
0            1
Name: order_status, dtype: int64

In [75]:
#读取测试集
df_test=pd.read_csv('submission.csv')
df_test

         customer_id  result
0            1000000     0.0
1            1000014     0.0
2            1000034     0.0
3            1000046     0.0
4            1000048     0.0
...              ...     ...
1585981      2826570     0.0
1585982      2826571     0.0
1585983      2826572     0.0
1585984      2826573     0.0
1585985      2826574     0.0

[1585986 rows x 2 columns]

In [76]:
#探索一下数据集
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2306871 entries, 0 to 2306870
Data columns (total 29 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_detail_id         int64
 1   order_id                int64
 2   order_total_num         float64
 3   order_amount            float64
 4   order_total_payment     float64
 5   order_total_discount    float64
 6   order_pay_time          object
 7   order_status            int64
 8   order_count             float64
 9   is_customer_rate        float64
 10  order_detail_status     float64
 11  order_detail_goods_num  float64
 12  order_detail_amount     float64
 13  order_detail_payment    float64
 14  order_detail_discount   float64
 15  customer_province       object
 16  customer_city           object
 17  member_id               float64
 18  customer_id             int64
 19  customer_gender         float64
 20  member_status           float64
 21  is_member_actived       float64
 22  goods_id                int64
 23  goods_class_id          int64
 24  goods_price             float64
 25  goods_status            float64
 26  goods_has_discount      float64
 27  goods_list_time         object
 28  goods_delist_time       object
dtypes: float64(18), int64(6), object(5)
memory usage: 510.4+ MB

In [77]:
df_train.describe()

       order_detail_id      order_id  order_total_num  order_amount  order_total_payment  order_total_discount  order_status   order_count  is_customer_rate  order_detail_status  order_detail_goods_num  order_detail_amount  order_detail_payment  order_detail_discount     member_id   customer_id  customer_gender  member_status  is_member_actived      goods_id  goods_class_id   goods_price  goods_status  goods_has_discount
count     2.306871e+06  2.306871e+06     2.306871e+06  2.306871e+06         2.306871e+06          2.306871e+06  2.306871e+06  2.306871e+06      2.306871e+06         2.306871e+06            2.306871e+06         2.306871e+06          2.306871e+06           2.306871e+06  2.306871e+06  2.306871e+06    635790.000000       635790.0           635790.0  2.306871e+06    2.306871e+06  2.306435e+06  2.306871e+06        2.306871e+06
mean      2.340043e+06  2.136152e+06     1.684285e+00  3.108007e+02         1.114688e+02          5.908662e+00  9.858623e+00  1.767748e+00      3.141311e-02         1.035626e+01            1.175710e+00         8.664112e+01          8.279990e+01           1.338506e+02  5.789832e+05  1.933233e+06         0.079095            1.0                1.0  1.558213e+03    1.558213e+03  5.219550e+01  1.091712e+00        8.613616e-02
std       7.740314e+05  6.500690e+05     3.941060e+00  4.040238e+02         1.644054e+02          1.711463e+01  1.922945e+01  4.800121e+02      1.744315e-01         2.027679e+01            3.572079e+00         1.280135e+02          1.265916e+02           1.739157e+02  1.075381e+06  5.538885e+05         0.361848            0.0                0.0  7.803288e+02    7.803288e+02  6.325725e+00  3.937307e-01        2.805651e-01
min       1.000000e+06  1.000000e+06     1.000000e+00  0.000000e+00         0.000000e+00          0.000000e+00  0.000000e+00  0.000000e+00      0.000000e+00         0.000000e+00            1.000000e+00         0.000000e+00          0.000000e+00          -1.011600e+02  0.000000e+00  1.000000e+06         0.000000            1.0                1.0  9.980000e+02    9.980000e+02 -7.997479e+01  0.000000e+00        0.000000e+00
25%       1.669684e+06  1.571484e+06     1.000000e+00  1.990000e+02         6.690000e+01          0.000000e+00  6.000000e+00  1.000000e+00      0.000000e+00         6.000000e+00            1.000000e+00         5.990000e+01          5.590000e+01           8.910000e+01  0.000000e+00  1.436434e+06         0.000000            1.0                1.0  1.038000e+03    1.038000e+03  4.960044e+01  1.000000e+00        0.000000e+00
50%       2.339350e+06  2.142988e+06     1.000000e+00  2.399000e+02         8.990000e+01          0.000000e+00  6.000000e+00  1.000000e+00      0.000000e+00         6.000000e+00            1.000000e+00         8.390000e+01          7.990000e+01           1.301000e+02  0.000000e+00  1.929569e+06         0.000000            1.0                1.0  1.233000e+03    1.233000e+03  5.390926e+01  1.000000e+00        0.000000e+00
75%       3.007430e+06  2.707954e+06     2.000000e+00  3.398000e+02         1.131700e+02          5.000000e+00  6.000000e+00  2.000000e+00      0.000000e+00         6.000000e+00            1.000000e+00         9.890000e+01          9.390000e+01           1.500000e+02  4.834840e+05  2.457816e+06         0.000000            1.0                1.0  1.643000e+03    1.643000e+03  5.485061e+01  1.000000e+00        0.000000e+00
max       3.685499e+06  3.238361e+06     1.700000e+03  1.023740e+05         9.840150e+04          1.960000e+03  1.010000e+02  7.290610e+05      1.000000e+00         1.010000e+02            1.700000e+03         9.840150e+04          9.840150e+04           7.936000e+04  4.161555e+06  2.826574e+06         2.000000            1.0                1.0  6.673000e+03    6.673000e+03  9.235260e+01  2.000000e+00        1.000000e+00

In [78]:
#看看测试集的用户id是否在训练集的用户中
(df_test['customer_id'].isin(df_train['customer_id'].unique())).sum()

1585986

In [79]:
df_train['member_status'].value_counts()

1.0    635790
Name: member_status, dtype: int64

In [80]:
#看看是否有缺失值
df_train.isnull().any()

order_detail_id           False
order_id                  False
order_total_num           False
order_amount              False
order_total_payment       False
order_total_discount      False
order_pay_time            False
order_status              False
order_count               False
is_customer_rate          False
order_detail_status       False
order_detail_goods_num    False
order_detail_amount       False
order_detail_payment      False
order_detail_discount     False
customer_province          True
customer_city              True
member_id                 False
customer_id               False
customer_gender            True
member_status              True
is_member_actived          True
goods_id                  False
goods_class_id            False
goods_price                True
goods_status              False
goods_has_discount        False
goods_list_time           False
goods_delist_time         False
dtype: bool

In [81]:
#有缺失的 单独提出来
miss_clos=[
    'customer_gender', 'member_status', 'is_member_actived',
    'goods_price','customer_province', 'customer_city'
    ]

In [82]:
#再看看数据类型
df_train.info()
#customer_gender是 float64 ，member_status是float64 is_member_actived是float64
#goods_price 是 float64，customer_province是object    customer_city是object

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2306871 entries, 0 to 2306870
Data columns (total 29 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_detail_id         int64
 1   order_id                int64
 2   order_total_num         float64
 3   order_amount            float64
 4   order_total_payment     float64
 5   order_total_discount    float64
 6   order_pay_time          object
 7   order_status            int64
 8   order_count             float64
 9   is_customer_rate        float64
 10  order_detail_status     float64
 11  order_detail_goods_num  float64
 12  order_detail_amount     float64
 13  order_detail_payment    float64
 14  order_detail_discount   float64
 15  customer_province       object
 16  customer_city           object
 17  member_id               float64
 18  customer_id             int64
 19  customer_gender         float64
 20  member_status           float64
 21  is_member_actived       float64
 22  goods_id                int64
 23  goods_class_id          int64
 24  goods_price             float64
 25  goods_status            float64
 26  goods_has_discount      float64
 27  goods_list_time         object
 28  goods_delist_time       object
dtypes: float64(18), int64(6), object(5)
memory usage: 510.4+ MB

In [83]:
# customer_gender 是 float64 ，member_status 是float64 is_member_actived 是float64
#goods_price 是 float64，customer_province 是object    customer_city 是object 
#看看 customer_gender的数据分布 
df_train['customer_gender'].value_counts()

0.0    603970
2.0     18468
1.0     13352
Name: customer_gender, dtype: int64

In [84]:
#性别这一列的数据太不正常了吧   本来1代表男 2代表女  现在6039070位置  还有1671081缺失值
print(df_train.shape)
print(df_train['customer_gender'].shape)
print(df_train['customer_gender'].isnull().sum())
df_train['customer_gender']

(2306871, 29)
(2306871,)
1671081

0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
          ...
2306866    0.0
2306867    0.0
2306868    0.0
2306869    0.0
2306870    0.0
Name: customer_gender, Length: 2306871, dtype: float64

In [85]:
#那性别这一列就用0来填充吧  我也不知道为什么 用1和2都填充都不太合适 缺失值又巨多  
df_train['customer_gender'].fillna(0, inplace=True)#inplace=True这一行不写 没有完全代替

In [86]:
#看看 customer_gender的数据分布 
df_train['customer_gender'].value_counts()

0.0    2275051
2.0      18468
1.0      13352
Name: customer_gender, dtype: int64

In [87]:
#同样的方法处理一下后面几个 
#member_status 是float64  member_status的意义是会员状态 1正常，2冻结，3已删除
df_train['member_status'].value_counts()
#既然数据全是1 那就全部填充为1  这也不太合适啊  否则这列元素在模型中不管用了
#想想如果不是1的话  那就可能买不了东西  所以这一列删除吧 意义不大

1.0    635790
Name: member_status, dtype: int64

In [88]:
df_train.drop('member_status',axis=1, inplace=True)
print(df_train.shape)#把那一列全部删除之后 维度从29列编程了28列

(2306871, 28)

In [89]:
# is_member_actived 是float64  is_member_actived会员卡是否激活 跟刚才那一列一样啊
df_train['is_member_actived'].value_counts()   #那就删除处理

1.0    635790
Name: is_member_actived, dtype: int64

In [90]:
#这一列删除吧
df_train.drop('is_member_actived',axis=1, inplace=True)
print(df_train.shape)#把那一列全部删除之后 维度从28列编程了29列

(2306871, 27)

In [91]:
# goods_price 是 float64   代表商品原始的价格
df_train['goods_price'].value_counts()   #这种情况缺失值就用平均值填充吧

49.392660    1
49.417050    1
54.758138    1
54.820699    1
54.867973    1
            ..
50.804159    1
49.525466    1
55.313814    1
48.755198    1
58.861202    1
Name: goods_price, Length: 2306435, dtype: int64

In [92]:
df_train['goods_price'].mean()

52.19549968489304

In [93]:
df_train['goods_price'].fillna(df_train['goods_price'].mean(), inplace=True)#inplace=True这一行不写 没有完全代替

In [94]:
#填充完之后 再看看分布 以及是否还有缺失值
print(df_train['goods_price'].value_counts() )
df_train['goods_price'].isnull().any()

52.195500    436
49.392660      1
46.292207      1
54.758138      1
54.820699      1
            ...
50.804159      1
49.525466      1
55.313814      1
48.755198      1
58.861202      1
Name: goods_price, Length: 2306436, dtype: int64

False

In [95]:
df_train['customer_province']

0               北京
1           内蒙古自治区
2           内蒙古自治区
3              浙江省
4               北京
            ...
2306866        山西省
2306867    宁夏回族自治区
2306868    宁夏回族自治区
2306869    宁夏回族自治区
2306870    宁夏回族自治区
Name: customer_province, Length: 2306871, dtype: object

In [96]:
#看看有多少缺失值
df_train['customer_province'].isnull().sum()#缺失值不是很多 那就用人口最多的广东来填充吧

1139

In [97]:
# customer_province 代表用户所在省份
print(df_train['customer_province'].value_counts() )

广东省         255700
江苏省         206593
浙江省         188219
河南省         131419
山东省         128916
上海          117625
湖北省         113378
湖南省         106706
安徽省         102575
江西省         102274
四川省          82279
福建省          81888
河北省          79617
北京           71394
辽宁省          59402
广西壮族自治区      54188
山西省          51759
陕西省          45786
天津           42147
黑龙江省         40328
云南省          40250
重庆           37459
贵州省          33775
内蒙古自治区       27119
吉林省          26839
新疆维吾尔自治区     23043
甘肃省          22440
海南省          15540
宁夏回族自治区       8134
青海省           5874
西藏自治区         3055
台湾              10
香港特别行政区          1
Name: customer_province, dtype: int64

In [98]:
df_train['customer_province'].fillna(255700, inplace=True)#inplace=True这一行不写 没有完全代替
print(df_train['customer_province'].value_counts() )
df_train['customer_province'].isnull().any()

广东省         255700
江苏省         206593
浙江省         188219
河南省         131419
山东省         128916
上海          117625
湖北省         113378
湖南省         106706
安徽省         102575
江西省         102274
四川省          82279
福建省          81888
河北省          79617
北京           71394
辽宁省          59402
广西壮族自治区      54188
山西省          51759
陕西省          45786
天津           42147
黑龙江省         40328
云南省          40250
重庆           37459
贵州省          33775
内蒙古自治区       27119
吉林省          26839
新疆维吾尔自治区     23043
甘肃省          22440
海南省          15540
宁夏回族自治区       8134
青海省           5874
西藏自治区         3055
255700        1139
台湾              10
香港特别行政区          1
Name: customer_province, dtype: int64

False

In [99]:
#customer_city 是object  用户城市所在地
df_train['customer_city']

0            北京市
1          鄂尔多斯市
2          鄂尔多斯市
3            杭州市
4            北京市
           ...
2306866      晋中市
2306867      银川市
2306868      银川市
2306869      银川市
2306870      银川市
Name: customer_city, Length: 2306871, dtype: object

In [100]:
#看看有多少缺失值
df_train['customer_city'].isnull().sum()#缺失值不是很多 那就用人口最多的广东来填充吧
#有1150个缺失值 该怎么处理呢

1150

In [101]:
print(df_train['customer_city'].value_counts() )
#刚才确实用广东省来填充了  那现在缺失值就用 广州市来填充  那也不对哦！ 
#省份是湖北省 然后我填充广州市 这不是扯淡吗？   
#这一列删除吧  省份注意说明问题了   即使城市有差别 但是应该不是特别大

上海市      117625
北京市       71394
广州市       59772
杭州市       53752
武汉市       47894
          ...
台中市           1
新北市           1
九龙            1
宜兰县           1
可克达拉市         1
Name: customer_city, Length: 375, dtype: int64

In [102]:
#这一列删除吧
df_train.drop('customer_city',axis=1, inplace=True)
print(df_train.shape)#把那一列全部删除之后 维度从27列编程了26列

(2306871, 26)

In [103]:
print(df_train['order_status'].value_counts() )
print(df_train['order_detail_status'].value_counts() )

6      2089352
101      98145
3        79823
1        34618
4         4932
0            1
Name: order_status, dtype: int64
6.0      2082927
101.0     109794
3.0        87151
1.0        21883
4.0         5115
0.0            1
Name: order_detail_status, dtype: int64

In [104]:
df_train
#订单状态：11表示等待买家付款， 2表示卖家部分发货， 3表示卖家发货， 
#4表示等待买家确认收货， 5表示买家已签收， 6表示交易成功 
#order_detail_status 跟order_status 有什么区别呢

         order_detail_id  order_id  order_total_num  order_amount  order_total_payment  order_total_discount       order_pay_time  order_status  order_count  is_customer_rate  order_detail_status  order_detail_goods_num  order_detail_amount  order_detail_payment  order_detail_discount customer_province  member_id  customer_id  customer_gender  goods_id  goods_class_id  goods_price  goods_status  goods_has_discount      goods_list_time    goods_delist_time
0                1000000   1000000              1.0         239.9                 96.9                   0.0  2012-11-01 00:10:56             6          1.0               0.0                  6.0                     1.0                 96.9                  96.9                  143.0                北京        0.0      1000000              0.0       998             998    54.909289           1.0                 0.0  2014-10-25 11:08:07  2014-11-01 11:08:07
1                1001530   1001327              2.0         288.0                 96.9                   0.0  2013-08-31 23:14:42             6          2.0               0.0                  6.0                     1.0                  0.0                   0.0                   99.0            内蒙古自治区        0.0      1001324              0.0      1953            1953    45.961352           0.0                 1.0  2013-08-28 17:27:50  2013-09-01 00:38:17
2                1001531   1001327              2.0         288.0                 96.9                   0.0  2013-08-31 23:14:42             6          2.0               0.0                  6.0                     1.0                 96.9                  96.9                   92.1            内蒙古自治区        0.0      1001324              0.0      1083            1083    53.035439           1.0                 0.0  2014-10-29 18:21:05  2014-11-05 18:21:05
3                1001532   1001328              3.0         180.0                 89.7                   0.0  2013-08-31 22:06:35             6          1.0               0.0                  6.0                     3.0                 89.7                  89.7                   90.3               浙江省        0.0      1001325              0.0      1013            1013    46.046917           1.0                 1.0  2014-10-25 11:00:00  2014-11-01 11:00:00
4                1001533   1001329              1.0         159.9                 65.9                   0.0  2013-08-31 21:33:36             6          1.0               0.0                  6.0                     1.0                 65.9                  65.9                   94.0                北京        0.0      1001326              0.0      1628            1628    50.722161           1.0                 0.0  2014-10-23 15:35:33  2014-10-30 15:35:33
...                  ...       ...              ...           ...                  ...                   ...                  ...           ...          ...               ...                  ...                     ...                  ...                   ...                    ...               ...        ...          ...              ...       ...             ...          ...           ...                 ...                  ...                  ...
2306866          3685495   3238358              1.0         199.0                 59.9                   0.0  2013-01-10 19:24:31             6          1.0               0.0                  6.0                     1.0                 59.9                  59.9                  139.1               山西省  4158187.0      2826573              0.0      1173            1173    53.012016           1.0                 0.0  2014-10-25 10:14:59  2014-11-01 10:14:59
2306867          3685496   3238359              2.0         299.8                 89.9                   0.0  2013-01-27 15:00:27             6          2.0               0.0                  6.0                     1.0                  0.0                   0.0                   59.9           宁夏回族自治区  4160956.0      2826574              0.0      2513            2513    42.693822           2.0                 0.0  2014-01-10 15:56:40  2014-01-11 12:46:19
2306868          3685497   3238359              2.0         299.8                 89.9                   0.0  2013-01-27 15:00:27             6          2.0               0.0                  6.0                     1.0                 89.9                  89.9                  150.0           宁夏回族自治区  4160956.0      2826574              0.0       998             998    54.889036           1.0                 0.0  2014-10-25 11:08:07  2014-11-01 11:08:07
2306869          3685498   3238360              1.0         168.0                 76.9                   0.0  2012-11-11 00:10:37             6          1.0               0.0                  6.0                     1.0                 76.9                  76.9                   91.1           宁夏回族自治区  4160956.0      2826574              0.0      1423            1423    52.078004           1.0                 0.0  2014-10-30 09:31:53  2014-11-06 09:31:53
2306870          3685499   3238361              1.0         102.0                 49.9                   0.0  2013-07-10 14:22:14             6          1.0               0.0                  6.0                     1.0                 49.9                  49.9                   52.1           宁夏回族自治区  4160956.0      2826574              0.0      1043            1043    46.114765           1.0                 1.0  2014-10-28 00:03:12  2014-11-04 00:03:12

[2306871 rows x 26 columns]

In [105]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2306871 entries, 0 to 2306870
Data columns (total 26 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_detail_id         int64
 1   order_id                int64
 2   order_total_num         float64
 3   order_amount            float64
 4   order_total_payment     float64
 5   order_total_discount    float64
 6   order_pay_time          object
 7   order_status            int64
 8   order_count             float64
 9   is_customer_rate        float64
 10  order_detail_status     float64
 11  order_detail_goods_num  float64
 12  order_detail_amount     float64
 13  order_detail_payment    float64
 14  order_detail_discount   float64
 15  customer_province       object
 16  member_id               float64
 17  customer_id             int64
 18  customer_gender         float64
 19  goods_id                int64
 20  goods_class_id          int64
 21  goods_price             float64
 22  goods_status            float64
 23  goods_has_discount      float64
 24  goods_list_time         object
 25  goods_delist_time       object
dtypes: float64(16), int64(6), object(4)
memory usage: 457.6+ MB

In [106]:
#订单详情ID 和订单ID 我觉得只留一个就行了  order_detail_id      order_detail_id     
#同理订单状态 和订单详细状态也只留一个就行了  order_status     order_detail_status
#会员ID 和用户ID 也只留一个就行了 member_id      customer_id       
df_train.drop('order_detail_id',axis=1, inplace=True)
df_train.drop('order_detail_status',axis=1, inplace=True)
df_train.drop('member_id',axis=1, inplace=True)
print(df_train.shape)#把那一列全部删除之后 维度从26列编程了23列

(2306871, 23)

In [107]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2306871 entries, 0 to 2306870
Data columns (total 23 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int64
 1   order_total_num         float64
 2   order_amount            float64
 3   order_total_payment     float64
 4   order_total_discount    float64
 5   order_pay_time          object
 6   order_status            int64
 7   order_count             float64
 8   is_customer_rate        float64
 9   order_detail_goods_num  float64
 10  order_detail_amount     float64
 11  order_detail_payment    float64
 12  order_detail_discount   float64
 13  customer_province       object
 14  customer_id             int64
 15  customer_gender         float64
 16  goods_id                int64
 17  goods_class_id          int64
 18  goods_price             float64
 19  goods_status            float64
 20  goods_has_discount      float64
 21  goods_list_time         object
 22  goods_delist_time       object
dtypes: float64(14), int64(5), object(4)
memory usage: 404.8+ MB

In [108]:
#时间序列我学的还不太好  要不把时间方面的也给删除了吧!  原谅我还没有学好 我会复习的
df_train.drop('order_pay_time',axis=1, inplace=True)
df_train.drop('goods_list_time',axis=1, inplace=True)
df_train.drop('goods_delist_time',axis=1, inplace=True)
print(df_train.shape)#把那一列全部删除之后 维度从23列编程了20列

(2306871, 20)

In [109]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2306871 entries, 0 to 2306870
Data columns (total 20 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int64
 1   order_total_num         float64
 2   order_amount            float64
 3   order_total_payment     float64
 4   order_total_discount    float64
 5   order_status            int64
 6   order_count             float64
 7   is_customer_rate        float64
 8   order_detail_goods_num  float64
 9   order_detail_amount     float64
 10  order_detail_payment    float64
 11  order_detail_discount   float64
 12  customer_province       object
 13  customer_id             int64
 14  customer_gender         float64
 15  goods_id                int64
 16  goods_class_id          int64
 17  goods_price             float64
 18  goods_status            float64
 19  goods_has_discount      float64
dtypes: float64(14), int64(5), object(1)
memory usage: 352.0+ MB

In [110]:
#想了一下 哪些ID  其实也没有什么用 
df_train.drop('order_id',axis=1, inplace=True)
df_train.drop('goods_class_id',axis=1, inplace=True)
df_train.drop('goods_id',axis=1, inplace=True)
print(df_train.shape)#把那一列全部删除之后 维度从20列编程了17列

(2306871, 17)

In [111]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2306871 entries, 0 to 2306870
Data columns (total 17 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_total_num         float64
 1   order_amount            float64
 2   order_total_payment     float64
 3   order_total_discount    float64
 4   order_status            int64
 5   order_count             float64
 6   is_customer_rate        float64
 7   order_detail_goods_num  float64
 8   order_detail_amount     float64
 9   order_detail_payment    float64
 10  order_detail_discount   float64
 11  customer_province       object
 12  customer_id             int64
 13  customer_gender         float64
 14  goods_price             float64
 15  goods_status            float64
 16  goods_has_discount      float64
dtypes: float64(14), int64(2), object(1)
memory usage: 299.2+ MB

In [112]:
#省份现在是object状态 先删除吧
df_train.drop('customer_province',axis=1, inplace=True)
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2306871 entries, 0 to 2306870
Data columns (total 16 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_total_num         float64
 1   order_amount            float64
 2   order_total_payment     float64
 3   order_total_discount    float64
 4   order_status            int64
 5   order_count             float64
 6   is_customer_rate        float64
 7   order_detail_goods_num  float64
 8   order_detail_amount     float64
 9   order_detail_payment    float64
 10  order_detail_discount   float64
 11  customer_id             int64
 12  customer_gender         float64
 13  goods_price             float64
 14  goods_status            float64
 15  goods_has_discount      float64
dtypes: float64(14), int64(2)
memory usage: 281.6 MB

In [115]:
#先用逻辑回归试试  目标是 order_status 这一列
#测试集
y=df_train['order_status']
print(y.shape)
#训练集
x=df_train.drop('order_status',axis=1)
print(x.shape)

(2306871,)
(2306871, 15)

In [116]:
df_train

         order_total_num  order_amount  order_total_payment  order_total_discount  order_status  order_count  is_customer_rate  order_detail_goods_num  order_detail_amount  order_detail_payment  order_detail_discount  customer_id  customer_gender  goods_price  goods_status  goods_has_discount
0                    1.0         239.9                 96.9                   0.0             6          1.0               0.0                     1.0                 96.9                  96.9                  143.0      1000000              0.0    54.909289           1.0                 0.0
1                    2.0         288.0                 96.9                   0.0             6          2.0               0.0                     1.0                  0.0                   0.0                   99.0      1001324              0.0    45.961352           0.0                 1.0
2                    2.0         288.0                 96.9                   0.0             6          2.0               0.0                     1.0                 96.9                  96.9                   92.1      1001324              0.0    53.035439           1.0                 0.0
3                    3.0         180.0                 89.7                   0.0             6          1.0               0.0                     3.0                 89.7                  89.7                   90.3      1001325              0.0    46.046917           1.0                 1.0
4                    1.0         159.9                 65.9                   0.0             6          1.0               0.0                     1.0                 65.9                  65.9                   94.0      1001326              0.0    50.722161           1.0                 0.0
...                  ...           ...                  ...                   ...           ...          ...               ...                     ...                  ...                   ...                    ...          ...              ...          ...           ...                 ...
2306866              1.0         199.0                 59.9                   0.0             6          1.0               0.0                     1.0                 59.9                  59.9                  139.1      2826573              0.0    53.012016           1.0                 0.0
2306867              2.0         299.8                 89.9                   0.0             6          2.0               0.0                     1.0                  0.0                   0.0                   59.9      2826574              0.0    42.693822           2.0                 0.0
2306868              2.0         299.8                 89.9                   0.0             6          2.0               0.0                     1.0                 89.9                  89.9                  150.0      2826574              0.0    54.889036           1.0                 0.0
2306869              1.0         168.0                 76.9                   0.0             6          1.0               0.0                     1.0                 76.9                  76.9                   91.1      2826574              0.0    52.078004           1.0                 0.0
2306870              1.0         102.0                 49.9                   0.0             6          1.0               0.0                     1.0                 49.9                  49.9                   52.1      2826574              0.0    46.114765           1.0                 1.0

[2306871 rows x 16 columns]

In [117]:
x

         order_total_num  order_amount  order_total_payment  order_total_discount  order_count  is_customer_rate  order_detail_goods_num  order_detail_amount  order_detail_payment  order_detail_discount  customer_id  customer_gender  goods_price  goods_status  goods_has_discount
0                    1.0         239.9                 96.9                   0.0          1.0               0.0                     1.0                 96.9                  96.9                  143.0      1000000              0.0    54.909289           1.0                 0.0
1                    2.0         288.0                 96.9                   0.0          2.0               0.0                     1.0                  0.0                   0.0                   99.0      1001324              0.0    45.961352           0.0                 1.0
2                    2.0         288.0                 96.9                   0.0          2.0               0.0                     1.0                 96.9                  96.9                   92.1      1001324              0.0    53.035439           1.0                 0.0
3                    3.0         180.0                 89.7                   0.0          1.0               0.0                     3.0                 89.7                  89.7                   90.3      1001325              0.0    46.046917           1.0                 1.0
4                    1.0         159.9                 65.9                   0.0          1.0               0.0                     1.0                 65.9                  65.9                   94.0      1001326              0.0    50.722161           1.0                 0.0
...                  ...           ...                  ...                   ...          ...               ...                     ...                  ...                   ...                    ...          ...              ...          ...           ...                 ...
2306866              1.0         199.0                 59.9                   0.0          1.0               0.0                     1.0                 59.9                  59.9                  139.1      2826573              0.0    53.012016           1.0                 0.0
2306867              2.0         299.8                 89.9                   0.0          2.0               0.0                     1.0                  0.0                   0.0                   59.9      2826574              0.0    42.693822           2.0                 0.0
2306868              2.0         299.8                 89.9                   0.0          2.0               0.0                     1.0                 89.9                  89.9                  150.0      2826574              0.0    54.889036           1.0                 0.0
2306869              1.0         168.0                 76.9                   0.0          1.0               0.0                     1.0                 76.9                  76.9                   91.1      2826574              0.0    52.078004           1.0                 0.0
2306870              1.0         102.0                 49.9                   0.0          1.0               0.0                     1.0                 49.9                  49.9                   52.1      2826574              0.0    46.114765           1.0                 1.0

[2306871 rows x 15 columns]

In [118]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y)#这样就划分好了数据集
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(1730153, 15)
(576718, 15)
(1730153,)
(576718,)

In [119]:
#数据集标准化
from sklearn.preprocessing import StandardScaler
transfer=StandardScaler()
x_train=transfer.fit_transform(x_train)
x_test=transfer.transform(x_test)

#5模型训练
from sklearn.linear_model  import LogisticRegression
estimator=LogisticRegression()
estimator.fit(x_train,y_train)

#模型评估 这里采用准确率的方法
score=estimator.score(x_test,y_test)
print("采用逻辑回归预测的准确率是:{}".format(score))

/opt/conda/lib/python3.7/site-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

采用逻辑回归预测的准确率是:0.9097149733491932

# 这里暂时只跑了一下分数  老师其余的我不太会啊  有不懂的我再咨询您 再更改 再提交分数吧！